<%= render partial: 'commons/background_image', locals: {image_name: 'background_image_01.jpg'} %>
<% content_for(:main_title, Team.model_name.human_plural) %>
<% content_for(:sub_title, 'WM-Brasilien 2014') %>

<div class="well">
  <%= form_for @presenter.new_team, html: {class: 'form-horizontal', role: 'form'} do |f| %>
      <fieldset>
        <div class="form-group">
          <%= f.label :country, class: 'col-sm-1 control-label' %>
          <div class="col-sm-3">
            <%= country_select(:team, :country, nil, {}, class: "form-control") %>
          </div>
          <% if @presenter.new_team.errors.get(:country) && !@presenter.new_team.errors.get(:country).empty? %>
              <div class="field_with_errors">
                <div class="col-sm-3 help-block">
                  <%= @presenter.new_team.errors.full_messages_for(:country).first %>
                </div>
              </div>
          <% end %>

          <div class="col-sm-2">
            <%= f.submit I18n.t('model.messages.add', model: Team.model_name.human), class: 'btn btn-default ' %>
          </div>
        </div>
      </fieldset>
  <% end %>
</div>

<div class="visible-sm">
  <%= render :partial => 'teams', locals: {columns: 2, teams: @presenter.teams} %>
</div>
<div class="hidden-sm">
  <%= render :partial => 'teams', locals: {columns: 3, teams: @presenter.teams} %>
</div>


<%#= link_to I18n.t('model.messages.add', model: Team.model_name.human), games_path, class: "ggp2-btn btn-default" %>