<%= render partial: 'commons/background_image', locals: {image_name: 'background_image_01.jpg'} %>
<% content_for(:main_title, Venue.model_name.human_plural) %>
<% content_for(:sub_title, I18n.t('general.wm_2014_title')) %>

<div class="well well-sm">
  <%= link_to I18n.t('model.messages.add', model: Venue.model_name.human), new_venue_path, class: "btn btn-default" %>
</div>

<% if @venues.present? %>
    <div class="table-responsive">
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th><%= Venue.human_attribute_name(:city) %></th>
          <th><%= Venue.human_attribute_name(:stadium) %></th>
          <th><%= Venue.human_attribute_name(:capacity) %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @venues.each do |venue| %>
            <tr class="link-row-js" data-href="<%= edit_venue_path(venue) %>">
              <td><%= venue.city %></td>
              <td><%= venue.stadium %></td>
              <td><%= venue.capacity %></td>
              <td>
                <%= destroy_link venue_path(venue), I18n.t('model.messages.destroy', model: ("#{venue.city} (#{venue.stadium})")),
                                 only_icon: true,
                                 confirm: I18n.t('model.messages.destroy_really', model: ("#{venue.city} (#{venue.stadium})")) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
<% end %>