<%= render partial: 'commons/background_image', locals: {image_name: 'background_image_01.jpg'} %>
<% content_for(:main_title, Venue.model_name.human_plural) %>
<% content_for(:sub_title, 'WM-Brasilien 2014') %>

<div class="well">
  <%= link_to "Austragungsorte anlegen", venues_path, class: "btn btn-default" %>
</div>

<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th><%= Venue.human_attribute_name(:city) %></th>
      <th><%= Venue.human_attribute_name(:stadium) %></th>
      <th><%= Venue.human_attribute_name(:capacity) %></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% @venues.each do |venue| %>
        <tr>
          <td><%= venue.city %></td>
          <td><%= venue.stadium %></td>
          <td><%= venue.capacity %></td>

        </tr>
    <% end %>
    </tbody>
  </table>
</div>