<% unless match.new_record? %>
    <h2>
      <%= match.message_name %>
    </h2>
<% end %>

<div class="well well-sm">

<%= form_for match, html: {class: 'form-horizontal', role: 'form'} do |f| %>
    <fieldset>
    <div class="form-group">
      <%= f.label :position, class: 'col-xs-3 col-md-2 control-label' %>
      <div class="col-xs-9 col-md-9">
        <div class="row">
          <div class="col-xs-4 col-sm-2">
            <%= f.text_field :position, class: 'form-control' %>
          </div>
        </div>
        <% if match.errors.get(:position) && !match.errors.get(:position).empty? %>
            <div class="row">
              <div class="field_with_errors">
                <p class="help-block col-xs-12">
                  <%= match.errors.full_messages_for(:position).first %>
                </p>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :team_1, class: 'col-xs-3 col-md-2 control-label' %>
      <div class="col-xs-9 col-md-10">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
            <%= f.select :team_1_id, Team.all.collect { |team| [team.name, team.id] }, {include_blank: true}, class: 'form-control' %>
          </div>
        </div>
        <% if match.errors.get(:team_1) && !match.errors.get(:team_1).empty? %>
            <div class="row">
              <div class="field_with_errors">
                <p class="help-block col-xs-12">
                  <%= match.errors.full_messages_for(:team_1).first %>
                </p>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :team_2, class: 'col-xs-3 col-md-2 control-label' %>
      <div class="col-xs-9 col-md-10">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
            <%= f.select :team_2_id, Team.all.collect { |team| [team.name, team.id] }, {include_blank: true}, class: 'form-control' %>
          </div>
        </div>
        <% if match.errors.get(:team_2) && !match.errors.get(:team_2).empty? %>
            <div class="row">
              <div class="field_with_errors">
                <p class="help-block col-xs-12">
                  <%= match.errors.full_messages_for(:team_2).first %>
                </p>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :placeholder_team_1, class: 'col-xs-3 col-md-2 control-label' %>
      <div class="col-xs-9 col-md-10">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
            <%= f.text_field :placeholder_team_1, class: 'form-control' %>
          </div>
        </div>
        <% if match.errors.get(:placeholder_team_1) && !match.errors.get(:placeholder_team_1).empty? %>
            <div class="row">
              <div class="field_with_errors">
                <p class="help-block col-xs-12">
                  <%= match.errors.full_messages_for(:placeholder_team_1).first %>
                </p>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :placeholder_team_2, class: 'col-xs-3 col-md-2 control-label' %>
      <div class="col-xs-9 col-md-10">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
            <%= f.text_field :placeholder_team_2, class: 'form-control' %>
          </div>
        </div>
        <% if match.errors.get(:placeholder_team_2) && !match.errors.get(:placeholder_team_2).empty? %>
            <div class="row">
              <div class="field_with_errors">
                <p class="help-block col-xs-12">
                  <%= match.errors.full_messages_for(:placeholder_team_2).first %>
                </p>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :date, class: 'col-xs-3 col-md-2 control-label' %>
      <div class="col-xs-9 col-md-10">
        <div class="row">
          <div class="form-inline col-xs-12">
            <%= f.datetime_select :date, {}, class: 'form-control ggp2-form-control' %>
          </div>
        </div>
        <% if match.errors.get(:date) && !match.errors.get(:date).empty? %>
            <div class="row">
              <div class="field_with_errors">
                <p class="help-block col-xs-12">
                  <%= match.errors.full_messages_for(:date).first %>
                </p>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :aggregate, class: 'col-xs-3 col-md-2 control-label' %>
      <div class="col-xs-9 col-md-10">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
            <%= f.select :aggregate_id, Aggregate.leaves.collect { |aggregate| [aggregate.name, aggregate.id] }, {}, class: 'form-control' %>
          </div>
        </div>
        <% if match.errors.get(:aggregate) && !match.errors.get(:aggregate).empty? %>
            <div class="row">
              <div class="field_with_errors">
                <p class="help-block col-xs-12">
                  <%= match.errors.full_messages_for(:aggregate).first %>
                </p>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :venue, class: 'col-xs-3 col-md-2 control-label' %>
      <div class="col-xs-9 col-md-10">
        <div class="row">
          <div class="col-xs-12 col-sm-7 col-md-6 col-lg-5">
            <%= f.select :venue_id, Venue.all.collect { |venue| [venue.city, venue.id] }, {}, class: 'form-control' %>
          </div>
        </div>
        <% if match.errors.get(:venue) && !match.errors.get(:venue).empty? %>
            <div class="row">
              <div class="field_with_errors">
                <p class="help-block col-xs-12">
                  <%= match.errors.full_messages_for(:venue).first %>
                </p>
              </div>
            </div>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-xs-offset-3 col-md-offset-2 col-xs-9 col-md-10">
        <%= f.submit class: 'btn btn-primary' %>
        <%= link_to I18n.t('general.cancel'), matches_path, class: "btn btn-default" %>
      </div>
    </div>

    </fieldset>
<% end %>
</div>