<%= render partial: 'commons/background_image', locals: {image_name: 'background_image_00.jpg'} %>
<% content_for(:main_title, Match.model_name.human_plural) %>
<% content_for(:sub_title, I18n.t('general.wm_2014_title')) %>

<div class="well well-sm">
  <%= link_to I18n.t('model.messages.add', model: Match.model_name.human), matches_path, class: "btn btn-default" %>
</div>

<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
    <tr>
      <th><%= Match.human_attribute_name(:position) %></th>
      <th><%= Match.human_attribute_name(:team_1) %></th>
      <th><%= Match.human_attribute_name(:team_2) %></th>
      <th><%= I18n.t('general.match_result')%></th>
      <th><%= Match.human_attribute_name(:date) %></th>
      <th><%= Match.human_attribute_name(:venue) %></th>
    </tr>
    </thead>
    <tbody>
    <% @presenter.matches.each do |match| %>
        <tr>
          <td><%= match.position %> </td>
          <td>
            <%= image_tag("blank.gif", class: "flag flag-#{match.team_1.country.downcase}") %>
            <span class="vertical-center"><%= I18n.t match.team_1.country, :scope => 'countries' %></span>
          </td>
          <td>
            <%= image_tag("blank.gif", class: "flag flag-#{match.team_2.country.downcase}") %>
            <span class="vertical-center"><%= I18n.t match.team_2.country, :scope => 'countries' %></span>
          </td>
          <td>result</td>
          <td><%= I18n.l match.date, format: :short %></td>
          <td><%= match.venue.city unless match.venue.nil? %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>