<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/header' %>

<body>
<div id="header-and-content">

  <% if current_user.present? %>
      <%= render 'layouts/navigation/main_menu' %>
  <% end %>

  <div class="ggp2-background-image"></div>
  <div class="container overlap">
    <div class="row">
      <div class="col-sm-5 col-sm-push-7 no-spacing">
        <!--<%# if content_for?(:teaser) %>-->
        <p class="ggp2-title text-right">Es muss eine Kehrtwende geben. Und die muss 360 Grad sein. (Eduard Geyer)</p>
        <!--<%# end %>-->
      </div>
      <div class="col-sm-7 col-sm-pull-5 no-spacing">
        <h1>
          <span class="ggp2-title"><%= content_for?(:main_title) ? content_for(:main_title) : 'Brasilien Fussball Weltmeisterschaft-2014' %></span>
        </h1>
      </div>
    </div>
    <% if content_for?(:sub_title) %>
        <div class="row">
          <h2>
            <span class="ggp2-title"><%= content_for(:sub_title) %></span>
          </h2>
        </div>
    <% end %>
    <div class="row ggp2-main-content-area">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
<%= render 'layouts/javascripts' %>

</body>
</html>