<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/header' %>

<body>
<div id="header_and_content">

  <%= render 'layouts/navigation' %>

  <div class="ggp2_feature_image">
    <div class="container">
      <div class="text-right">
        <h3>Brasilien Fussball Weltmeisterschaft 2014 </h3>
        <p>Es muss eine Kehrtwende geben. Und die muss 360 Grad sein. (Eduard Geyer)</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <%= render 'layouts/messages' %>
      <%= yield %>

      <p>lorem ipsum</p>
    </div>
    <!--<hr>-->
  </div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
