<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/header' %>

<body>
<div id="header-and-content">

  <% if current_user.present? %>
      <%= render 'layouts/navigation/main_menu' %>
  <% end %>

  <div class="ggp2-header-image">
    <div class="container">
      <div class="row">
        <div class="col-sm-5 col-sm-push-7 panel no-spacing bottom">
          <!--<%# if content_for?(:teaser) %>-->
          <p class="small-panel-padding text-right gray-text">
            <strong>Es muss eine Kehrtwende geben. Und die muss 360 Grad
              sein. (Eduard Geyer) Es muss eine Kehrtwende geben. Und die muss 360 Grad sein. (Eduard Geyer)
            </strong>
          </p>
          <!--<%# end %>-->
        </div>
        <div class="col-sm-7 col-sm-pull-5 no-spacing bottom">
          <h1>
            <span class="ggp2-title"><%= content_for?(:main_title) ? content_for(:main_title) : 'Brasilien Fussball Weltmeisterschaft-2014' %></span>
          </h1>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row ggp2-main-content-area">
      <%= render 'layouts/messages' %>
      <div class="page-header">
        <h1><%= content_for?(:main_title) ? content_for(:main_title) : 'No Title' %>
          <% content_for?(:subtitle) do %>
              <small><%= content_for(:subtitle) %></small>
          <% end %>
        </h1>
      </div>
      <%= yield %>
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
<%= render 'layouts/javascripts' %>

</body>
</html>