<!DOCTYPE html>
<html lang="en">

<%= render 'layouts/header' %>

<body>
<div id="header_and_content">

  <%= render 'layouts/navigation' %>

  <div class="ggp2_feature_image">
    <div class="container">
      <h2 style="color: #4f4f4f; text-align: right">Brasilien Fussball Weltmeisterschaft 2014 </h2>
    </div>
  </div>

  <div class="container">
    <div class="content">
      <%= render 'layouts/messages' %>
      <%= yield %>

      <p>lorem ipsum</p>
    </div>
    <!--<hr>-->
  </div>
</div>

<%= render 'layouts/footer' %>

</body>
</html>
