<header id="header">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= render :partial => 'layouts/navigation/toggle_button' %>
        <a class="navbar-brand" href="#">
          <% if current_user.admin? %>
              Administration
          <% else %>
              Brasilien Fussball WM-2014
          <% end %>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.admin? %>
              <li class="active"><%= link_to Aggregate.model_name.human_plural, aggregates_path %></li>
              <li><%= link_to Match.model_name.human_plural, matches_path %></li>
              <li><%= link_to Team.model_name.human_plural, teams_path %></li>
              <li><%= link_to Venue.model_name.human_plural, venues_path %></li>
              <li><%= link_to User.model_name.human_plural, users_path %></li>
          <% else %>
              <li><a href="#about">Tipps</a></li>
              <li><a href="#about">Ranking</a></li>
              <li><a href="#about">Account</a></li>
          <% end %>
          <li><a href="<%= destroy_user_session_path %>" data-method="delete">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>