<header id="header">
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <%= render :partial => 'layouts/navigation/toggle_button' %>
        <a class="navbar-brand" href="#">
          <% if current_user.admin? %>
              Administration
          <% else %>
              WM 2014 Tippspiel
          <% end %>
        </a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.admin? %>
              <%= main_navbar_link(Aggregate.model_name.human_plural, aggregates_path, :aggregates) %>
              <%= main_navbar_link(Match.model_name.human_plural, matches_path, :matches) %>
              <%= main_navbar_link(Venue.model_name.human_plural, venues_path, :venues) %>
              <%= main_navbar_link(User.model_name.human_plural, users_path(type: User::USER_TYPE_PLAYERS), :users) %>
          <% else %>
              <li><%= link_to Tip.model_name.human_plural, user_tip_path(current_user) %></li>
              <li><a href="#about">Ranking</a></li>
              <li><a href="#about">Account</a></li>
          <% end %>
          <li><a href="<%= destroy_user_session_path %>" data-method="delete">Logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>